<main class="main-container">
    {{> header_logo}}
    <form class="main-form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input id="email" type="text" placeholder="Input a valid email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input id="password" type="password" placeholder="Password must be 8-16 characters">
        </div>
        <a class="custom-button main-form__button-login" href="/products">Login</a>
        <a class="link main-form__forgot-password" href="/recovery"><b>Forgot my password</b></a>
    </form>
    <div class="spacer"></div>
    <a class="custom-button button-outline" href="/signup">Sign up</a>
</main>
