<main class="main-container">
    {{> header_logo}}
    <h1 class="h1-1-title">Recovery password</h1>
    <p>Inform the email address used to create your account</p>
    <form class="main-form">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" placeholder="Input your email">
        </div>
        <input class="custom-button button-green" type="submit">
    </form>
    <a class="link" href="/login">Back to login</a>
</main>
