.main-container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 1.5em;
    box-sizing: border-box;
}

.main-form__button-login{
    color: var(--white);
    background-color: var(--hospital-green);
}


.main-form__forgot-password{
    text-align: center;
    margin: 1em 0;
    font-weight: 700;
}
